@import 'tailwindcss';

@theme {
  --font-family-sans: 'Anuphan', sans-serif;

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  --animate-caret-blink: caret-blink 1.2s ease-out infinite;
}
